@import '@/styles/mixin';

.section > * {
  max-width: 1000px;
  margin-top: 20px;
  letter-spacing: 1px;
  line-height: 1.5
}

.section {
  h1 {
    @include heading-text;
  }

  h3 {
    @include large-text;
  }

  p {
    @include default-text;
  }
}