.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.navBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.link {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 900;
}

.image {
  width: 70px;
  height: 70px;
}

.burger {
  display: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

@media (max-width: 850px) {
  .burger {
    display: block;
  }

  .navBlock {
    display: none;

    &.isOpenMenu {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      position: absolute;
      top: 100px;
      left: 0;
      width: 100%;
      padding: 5px 0;
      background: var(--light-blue-background);
    }
  }

  .link {
    font-size: 12px;
    font-weight: 400;
    color: #0a0a0a;
  }
}